.app {
    background-image: url("../images/sheetMusic_retina.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    /* z-index: -100; */

    padding-bottom: 100px;
    scroll-behavior: smooth;
}

.index {
    text-align: center;
    color: white;
}

.title {
    font-family: Snell Roundhand, Brush Script MT, Verdana, cursive;
    font-weight: 900;
    border: 1px solid black;
    margin-top: 10%;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

/* nav {
    position: fixed;
} */

.intro p {
    font-size: 20px;
}

.formgroup {
    text-align: center;
}

input {
    margin: 20px;
}

.submit {
    float: right;
}

.videoinfo {
    margin-top : 10px;
}

.video, .lyrics{
    padding: 5px;
}

iframe {
    width: 100%;
    height: 100%;
    min-height: 262px;
    height: 400px;
}

.fav, .fav:hover{
    color: red;
    /* padding: 3px; */
}

.video button {
    margin : 3px;
}

textarea {
    margin-top: 8px;
    width: 100%;
    text-align: center;
    height: 400px;
    float:right;
    /* padding: 5px 20px 15px 20px; */
    /* line-height: 1.5em; */
    /* font-size: 1.3em; */
    overflow: auto; 
    resize: none;
    color: white;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.search input, #createNewPL input {
    margin:0px;
}

.collections {
    background-color: rgba(0, 0, 0, 0.5);

}

#playlist{
    vertical-align: middle;
    /* background-color: darkgray; */
    height: 48px;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);

}

#anchor-pl{
    display: block;
    height: -50vh; /*same height as header*/
    margin-top: -50vh; /*same height as header*/
    visibility: hidden;
}

#selectPlaylist {
    display: inline-block;
    margin-left: 20px;
    width: 300px;
}

#delPlaylist {
    display: inline;
    margin-left: 5px;
}

#createNewPL {
    display: inline;
    float: right;
}

.dropdown-menu .createPL a{
    color: black;
    text-decoration: none;
}

.card {
    display: inline-block;
    margin : 15px;
}
/* 
.card-columns {
    column-count: 4;
} */

.card-body{
    padding:10px;
}

.card-btns {
    position: absolute;
    top: 8px;
    right: 16px;
    display: none;
}

.card-image img:hover + .card-btns, .card-btns:hover {
    display: inline-block;
}

.card-body .dropright{
    float: right;
}

.API{
    background-color: white;
    color: black;
    /* z-index: 10; */
    text-align: left;
    /* height: 100%; */
    /* height: 100%;
    width: 100%; */
    /* margin: auto;
    width: 50%;
    float: none; */
}

footer {
    background-color: black;
    width:100%;
    font-size:10pt;
    color: white;
    bottom:0;
    position: fixed;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

footer a{
    color: white;
}
/* 
footer a:hover{
    color: white;
} */