.app {
    background-image: url("../images/sheetMusic_retina.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* z-index: -100; */
}

.index {
    text-align: center;
    color: white;
}

.title {
    font-family: Snell Roundhand, Brush Script MT, Verdana, cursive;
    font-weight: 900;
    border: 1px solid black;
    margin-top: 10%;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.intro p {
    font-size: 20px;
}

.formgroup {
    text-align: center;
}

input {
    margin: 20px;
}

.submit {
    float: right;
}


footer {
    background-color: black;
    width:100%;
    font-size:10pt;
    color: white;
    bottom:0;
    position: fixed;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}